.container-account {
    background-color: white;
    max-width: 1200px;
    padding: 10px 20px;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
}
.form_login h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    
}
.form_login{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #decdcd;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    
} 

.form_login input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


.btn_login:hover{
    background-color: #325cda;
}
.btn_login{
    width: 100%;
    background-color: #0a429d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
.error {
    color: red;
    margin-bottom: 10px;
    height: 5%;
}

.chuaCoTaiKhoan {
    margin: 5%;
    text-align: center;
}


.chuaCoTaiKhoan a{
    margin-left: 5px;
    color: #47699f; /* Màu xanh */
    text-decoration: none;
    font-weight: bold;


}
.chuaCoTaiKhoan a:hover {
    text-decoration: underline;
  }