.container-information {
    background-color: #f2f2f2;
    max-width: 1200px;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    margin: 0 auto; /* Căn giữa trang */
    gap: 20px; /* Khoảng cách giữa nội dung chính và sidebar */
    display: flex; /* Sử dụng Flexbox để chia layout */
}


  .main-content {
    flex: 1; /* Phần nội dung chính chiếm phần còn lại */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng */
    background-color: #fff;
    border-radius: 8px; /* Bo góc */
  }